__pycache__/
.pytest_cache/
.ruff_cache/
.DS_Store
*.pyc
*.pyo
.ipynb_checkpoints/
build/
dist/
src/*.egg-info/
*.h5
*.pdf
*.map
*.mpx
*.mlx
*.lsm
*.lsx
*.mat
*.bin
*.xml.bak
*_AlphaOmega/
conversion/
tmp/
output/
